div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.odd{
    background-color: lightcoral;
    font-family: verdana, Arial, sans-serif;
}

.odd2{
    font-size: 24px;
}

#even{
    color: blue;
    font-size: 36px;
}

#even2{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
